<footer>
    <div class="container">
        <div class='fb-like-box'>
            <div class='fb-like-box' data-header='false' data-href='https://www.facebook.com/Bauhaus.Design.Lab' data-show-border='false' data-show-faces='true' data-stream='false' data-width='1170'></div>
        </div>
    </div>
</footer>
</div>
<script data-main='assets/js/main' src='assets/js/require.js'></script>
</body>
</html>
