      <div class='navbar navbar-fixed-top'>
        <div class='navbar-inner'>
          <div class='container'>
            <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </a>
            <a class='brand' href='index.html'>
              <!-- <object data="assets/img/logo.svg" type="image/svg+xml" > -->
　       <img src="assets/img/logo.png" alt="ロゴ"  />
          <!-- </object> -->
            </a>
            <div class='nav-collapse'>
              <ul class='nav'>
                <li>
                  <a href='index.html'>
                    <i class='icon-home'></i> HOME
                  </a>
                </li>
                <li>
                  <a href='demo1.html'>
                    <i class='icon-user'></i> デモ１
                  </a>
                </li>
                <li>
                  <a href='demo2.html'>
                    <i class='icon-graph'></i> デモ２
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.nav-collapse -->
          </div>
        </div>
      </div>
