    <%= partial "layouts/header" %><!-- パーシャル機能で、_header.erbを読み込む -->
    <div class="container">
    <%= yield %><!-- ページコンテンツを反映 -->
    </div><!-- /.container -->
    <%= partial "layouts/footer" %><!-- パーシャル機能で、_footer.erbを読み込む -->
