---
layout: basic #ここでレイアウトを指定
title: ページタイトル
description: ページディスクリプション
---
<div class='carousel slide hidden-phone' id='myCarousel'>
        <ol class='carousel-indicators'>
          <li class='active' data-slide-to='0' data-target='#myCarousel'></li>
          <li data-slide-to='1' data-target='#myCarousel'></li>
          <li data-slide-to='2' data-target='#myCarousel'></li>
        </ol>
        <div class='carousel-inner'>
          <div class='item active'>
            <img alt='fakeimg' height='400' src='http://fakeimg.pl/1170x400/4d4d4d/fffff0/' width='1170'>
          </div>
          <div class='item'>
            <img alt='fakeimg' height='400' src='http://fakeimg.pl/1170x400/4d4d4d/fffff0/' width='1170'>
          </div>
          <div class='item'>
            <img alt='fakeimg' height='400' src='http://fakeimg.pl/1170x400/4d4d4d/fffff0/' width='1170'>
          </div>
        </div>
        <!-- <a class='left carousel-control' data-slide='prev' href='#myCarousel'>&#8249;</a> -->
        <!-- <a class='right carousel-control' data-slide='next' href='#myCarousel'>&#8250;</a> -->
      </div>
      <!-- end of cursor -->
<ul class="thumbnails">
    <li class="span4">
        <a class="thumbnail" href="#">
            <img src="http://placehold.it/360x240" alt="">
        </a>
        <h3>Basic marketing site</h3>
        <p>Featuring a hero unit for a primary message and three supporting elements.</p>
    </li>
    <li class="span4">
        <a class="thumbnail" href="#">
            <img src="http://placehold.it/360x240" alt="">
        </a>
        <h3>Fluid layout</h3>
        <p>Uses our new responsive, fluid grid system to create seamless liquid layout.</p>
    </li>
    <li class="span4">
        <a class="thumbnail" href="#">
            <img src="http://placehold.it/360x240" alt="">
        </a>
        <h3>Starter template</h3>
        <p>A barebones HTML document with all the Bootstrap CSS and javascript included.</p>
    </li>
</ul>
